body {
    background: #E6E6E6 url("../fotos/pagebackground.png") repeat-y center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 0 auto;
    width: 956px;
}

/* top section */
.top {
    height: 200px;
    background: url("../fotos/bgsky3.jpg");
    position: relative;
}
.top>img {
    position: absolute;
    right: 90px;
    bottom: 60px;
}
.top>p {
    color: darkblue;
    text-align: center;
    font-weight: bold;
}

.top>p:nth-child(1) {
    font-size: 300%;
    font-style: italic;
}
.top>p:nth-child(2) {
    font-size: 240%;
}

/* news section */
.news {
    float: right;
    border: 1px solid #999999;
    background-color: #dddddd;
    width: 250px;
}
.news p {
    color: #666666;
    font-size: 90%;
    margin: 10px 0;
}
.news h3 {
    color: white;
    background-color: blue;
    font-size: 120%;
    text-align: center;
}

/* main section */
.main {
    width: 700px;
}
main>div>img {
    float: left;
    padding: 20px 0;
}

/* introduction section */
.introduction>p {
    overflow: hidden;
    margin: 20px 30px 20px 0;
    font-weight: bold;
}
.introduction span {
    color: blue;
    font-style: italic;
    font-weight: bold;
}

/* gallery section*/
.gallery {
    background-color: #999999;
    overflow: hidden;
    padding: 10px 0 10px 10px;
}
.foto {
    width: 180px;
    height: 180px;
    padding: 10px;
    background-color: white;
    border: 1px dotted #999999;
    float: left;
    margin: 10px 0;
}

/* bottom section*/
.bottom {
    clear: both;
    background-color: #666666;
    color: white;
    line-height: 2em;
}
.bottom a {
    color: white;
}
.bottom a:hover {
    color: red;
}
.block {
    display: inline-block;
    margin-left: 120px;
    margin-bottom: 0;
}

/* copyright section*/
.copyright {
    text-align: center;
    color: black;
    background-color: white;
}