
#hobbies {
    margin: 1rem auto 1rem;
    text-align: center;
}
ul>li {
    color: cadetblue;
    padding: 0.2em;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.8rem;
}
h1,h2,h3 {
    font-family: "Yu Gothic Medium";
}
table {
    font-family: arial, Helvetica, sans-serif;
    border: 2px solid #36725D;
    text-align: left;
    border-radius: 3px;
    padding: 10px;
}
th {
    font-size: 15px;
    font-style: oblique;
    background: #36725D;
}
td {
    border: 1px solid black;
}
